* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #2a7dbb, #fbb2f9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

form {
  background: white;
  float: left;
  min-height: 100vh;
}
