* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #94aea0;
  font-family: "Varela Round", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

li {
  display: inline-block;
}

section,
footer,
header {
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
}

.btn {
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  background-color: gainsboro;
}

#backtotop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Have media at the end of the css */
@media (max-width: 820px) {
  body {
    background-color: pink;
  }
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  .btn {
    padding: 0.5rem;
  }
}
