* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #9fc2af;
  font-family: "Varela Round", sans-serif;
  color: #333;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.bg {
  background-color: white;
}

li {
  display: inline-block;
}

section,
footer,
header {
  padding: 1rem;
}

section {
  scroll-margin-top: 70px;
  max-width: 800px;
  margin: 0 auto;
}

p {
  margin: 0.5rem 0;
}

.btn {
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  background-color: gainsboro;
  color: #333;
}

#backtotop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:visited {
  color: #333;
}

#logo {
  font-family: "Ms Madi", cursive;
  font-size: 22px;
}

.overlay {
  background-color: rgba(51, 51, 51, 0.737);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.visible {
  display: flex;
}

/* 14ish words in one line is good readability */
.modal {
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  max-width: 600px;
  position: relative;
}

.mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Have media at the end of the css */
@media (max-width: 820px) {
  body {
    background-color: rgb(214, 167, 175);
  }
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  .btn {
    padding: 0.5rem;
  }
  ul.responsive {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
