body {
  background-image: linear-gradient(90deg, rgb(76, 23, 133), rgb(166, 57, 155));
  color: white;
  font-family: "Futura", "Trebuchet MS", "Arial", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

div {
  margin: 10px 0;
}

label {
  display: inline-flex;
  width: 290px;
}

img {
  width: 650px;
  border-radius: 5%;
  opacity: 0.95;
  margin-top: 40px;
  margin-bottom: 20px;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  margin: 0 15px;
  width: 110px;
  border: none;
  background-color: rgb(172, 59, 185);
  border-radius: 3%;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  background-color: rgb(202, 120, 211);
}

#question,
#userName {
  margin: 5px 0;
}

#greeting,
#wisdom {
  margin: 25px 0;
}

.div2 {
  margin-top: 400px;
}
